*{
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
}

/* logo and image */
.logo{
    margin: 10px 10px;
    background-color: white;

}
.logo img{
    width: 56px;
    height: 67px;
}
.logo h3{
color: black;
}
 /* navbar */
#navbar{
   
    display: flex;
    background-color: black;
 align-items: end;
 justify-content: space-between;
}
.navi ul{
  
    list-style: none;
    display: flex;}
    
.navi ul a{
  
        padding:0px 37px;
        font-size: 25px;
       
    color: white;
    text-decoration: none;
}
.navi ul a:hover{
color: black;
background-color: white;
text-decoration: underline;
}
/* searchbox */
#nav right{
    justify-content:right;
}
.search input{ 
    border: 3px solid white;
    border-radius: 20px;
    padding: 0px 20px;
    width: 250px;
}
.right button{
    height: 25px;
    width: 35px;
    border-radius: 49px;
}
.right button:hover{
    background-color: black;
    color: white;
    cursor: pointer;}

    /* Banner */
    .banner{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items:;
        height: 480px;
        background: url("/img/banner2.jpg") no-repeat center center/cover;
        font-size: 25px;
      
    }
   .banner h1{
    background-color: rgb(3 2 2 / 40%);
    color: white;
   }
   .banner p{
    background-color: rgb(3 2 2 / 40%);
    color: white;
   }
   .fashion{
    background-image: url(/img/bg3.jpg);
    display: flex;
    justify-content: space-between;
   }


   /* products */
   h2{
    text-align: center;
    color: white;
    background-color: black;
    font-size: 58px;
    text-decoration: underline;
   }
   .card {
    background-color: black;
    color: white;
    padding:1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
  }
  
  .price {
    background-color: black;
    color: white;
    font-size: 22px;
  }
  .card p{
    background-color: black;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(58, 56, 56);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }


.footer{
    color: white;
    background-color: black;
    padding: 1px;
}



